/*All Pages*/

* {
    /*border: 1px solid black;*/
    font-family: Ariel;
}

body {
    background-color: white;
}

h1{
    text-align: center;
    font-size: 120px;
    color: goldenrod;
    text-shadow: 1px 0 0 black;
    margin-left: 125px;
}

.goldtitle {
    display: block;
}

h2 {
    text-align: center;
    font-size: 53px;
    margin-top: -90px;
    color: goldenrod;
    text-shadow: 1px 0 0 black;
}

ul {
    text-align: center;
}

li {
    display: inline;
    font-size: 20px;
    padding: 10px 25px;
    
}

nav {
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    margin-left: 450px;
    margin-right: 450px;
}

a {
    text-decoration: none;
}

li a {
    color: black;
}

li a:hover {
    color: goldenrod;
}

/*Home Page*/

.goldphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    border-radius: 35%;
    border: 3px solid goldenrod;
}

.social-media {
    float: right;
}

#facebook {
    height: 60px;
    width: 60px;
}

#instagram {
    height: 60px;
    width: 60px;
}

figcaption {
    text-align: center;
    color: black;
}

#photo {
    border: 3px solid goldenrod;
    padding: 20px 20px 10px;
    margin-left: 900px;
    margin-right: 900px;
    border-radius: 10%;
}

#photo-para {
    display: inline-block;
}

/*ABOUT PAGE*/

h3 {
    text-align: center;
    font-size: 53px;
    color: black;
    text-shadow: 1px 0 0 black;
}

#repertoire {
    border: 3px solid goldenrod;

    font-size: 35px;
    padding: 40px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
}

#dance {
    font-size: 650x;
}
