* {
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color:goldenrod;
    padding: 20px; 
    border-radius: 50%;
    font-size: 50px;
}

.buttonDropdown {
    display: none;
    position: absolute;
    background-color: gold;

}

.dropdown:hover .buttonDropdown {
    display: block;
}

a {
    color: black;

}

.buttonDropdown a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: goldenrod;
}


.dropdown {
    float: right;
}

header h1 {
    background-color: goldenrod;
    margin: 0px 75px 0px 0px;
    font-size: 100px;
}

header h4 {
    background-color: goldenrod;
    margin: 0px 875px 0px 0px;
    font-size: 50px;
    display: inline;
}

span {
    display: inline;
}

.buttonDropdown a:hover {
    background-color: hotpink;
}

img {
    border: solid goldenrod;
    align-content: center;
    padding: 30px;