* {
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:goldenrod;
}

button {
    background-color:goldenrod;
    padding: 60px;
    border-radius: 50%;
    font-size: 50px;
}

.buttonDropdown {
    display: none;
    position: absolute;
    background-color: gold;

}

.dropdown:hover .buttonDropdown {
    display: block;
}

a {
    color: black;
    font-size: 35px;
    border: dotted purple;
}

.buttonDropdown a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: goldenrod;
}


.dropdown {
    float: right;
}

header h1 {
    background-color: goldenrod;
    margin: 0px 75px 0px 0px;
    font-size: 200px;
    color: black;
}

header h4 {
    background-color: goldenrod;
    margin: 0px 875px 0px 0px;
    font-size: 50px;
    display: inline;
    color: black;
}

header {
    background-color: goldenrod
}

span {
    display: inline;
}

.buttonDropdown a:hover {
    background-color: black;
    color: goldenrod;
}

img {
    align-content: center;
    padding: 30px;
    height:650px;
    min-height: 350px;
    }

figcaption {
    color: white;
}

figure {
    border: solid goldenrod;
}

figure p {
}

figure p {
    text-align: left;
    display:inline;
    color: goldenrod;
    text-shadow: rgb(92, 70, 15);
    font-size: 75px;
}